---
import '~/styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tailwind smoke test</title>
  </head>
  <body class="bg-red-500 text-white text-3xl p-12">
    Tailwind is working if this is red.
  </body>
</html>
